#bgmain{
background-image:url(text1.jpg);
background-size:auto;
}

table{
height:200px; 
width:800px;
} 

.description{
height:210px; 
width:850px;
} 

.pic{
height:500px;
width:1000px;
}

.container{
position:relative;
text-align:center;
color:white;
}

.center1{
position:absolute;
top:40%;
left:40%;
font-size:50px;
background:rgba(0,0,0,0.3);
translate:translate(-50%,-50%);
}

#box{
position:relative;
color:brown;
height:200px;
width:1500px;
background:rgba(0,0,0,0.15);
}

.head{
position:absolute;
top:40%;
left:30%;
font-size:50px;
background:rgba(0,0,0,0.3);
translate:translate(-50%,-50%);
}

.hel{
position:absolute;
top:10%;
left:80%;
font-size:30px;

translate:translate(-50%,-50%);
}

#data3{
background-image:url(family-room.png);
background-size:210px;
}

#taj{
background-image:url(room1.jpg);
background-size:1400px;
}


.tab2-back{
background-color:white;
height:400px;
width:600px;
}


.tab3-back{
margin-top:3%;
background-image:url(pat2.jpg);
background-color:white;
height:900px;
width:1200px;
}
